* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #c33764;
  background: -webkit-linear-gradient(to right, #1d2671, #c33764);
  background: linear-gradient(to right, #1d2671, #c33764);
  color: #ffffffa6;
  font-family: "Roboto", sans-serif;
}

i {
  padding: 0.5rem;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}
